<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="de" xml:lang="de">
    <head>
        <title>debian.ch</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="imagetoolbar" content="no" />
        <meta name="author" content="debian.ch" />
        <meta name="description" content="debian.ch Vereins-Internetpräsenz" />
        <meta name="translator" content="ORIGINAL" />
        <link rev="made" href="mailto:info&#37;&#52;&#48;debian&#46;ch" />
        <link rel="stylesheet" href="debian.css" type="text/css" />
        <link rel="stylesheet" href="debian-ch.css" type="text/css" />
        <link rel="shortcut icon" href="img/favicon.ico" />
    </head>
    <body>
        <div id="header">
            <div id="navbar">
                <img src="img/debian_ch-text.png" alt="debian.ch" title="debian.ch" />
            </div>
        </div>
        <div id="content">
